:root {
  --font-sans: system-ui, 'Noto Sans', sans-serif, emoji;
  --font-mono: ui-monospace, 'Courier New', monospace;
}

body {
  font-family: var(--font-sans);
}

code {
  font-family: var(--font-mono);
}

#chartable {
  --bg: #fff;
  --fg: #222;
  color: var(--fg);
  background-color: var(--bg);
}

@media (prefers-color-scheme: dark) {
  #chartable {
    --bg: #222;
    --fg: #ddd;
  }
}
