name: test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  library-tests:
    name: Library tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Erlang & Gleam
        uses: erlef/setup-beam@v1
        with:
          otp-version: "27"
          rebar3-version: "3"
          gleam-version: "1.13.0"
      - name: Install Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
      - name: Download Gleam dependencies
        working-directory: lib
        run: gleam deps download
      - name: Run Gleam test
        working-directory: lib
        run: gleam test
      - name: Check Gleam format
        working-directory: lib
        run: gleam format --check src test

  application-test:
    name: Application tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Erlang & Gleam
        uses: erlef/setup-beam@v1
        with:
          otp-version: "27"
          rebar3-version: "3"
          gleam-version: "1.13.0"
      - name: Install Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
      - name: Download Gleam dependencies
        working-directory: app
        run: gleam deps download
      - name: Run Gleam test
        working-directory: app
        run: gleam test
      - name: Check Gleam format
        working-directory: app
        run: gleam format --check src test
